<div class="wrapper">
<div class="input-content">
<h1>Editing Name</h1>

<%= render 'form', test: @test %>

<%= link_to 'Show', @test, class:"btn" %> |
<%= link_to 'Back', tests_path, class:"btn" %>
</div></div>