<div class="wrapper">
<div class="input-content">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<%= link_to 'Edit', edit_test_path(@test), class:"btn"%> |
<%= link_to 'Back', tests_path, class:"btn"%>
</div></div>